*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.navbar{
    display: flex;
    align-items: center;
}
.nav{
    padding:20px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 10;
}
 
